{
    "extends": [
        "plugin:team-vals/recommended",
        "plugin:team-vals/prettier"
    ],
    "parserOptions": {
        "project": "tsconfig.json",
        "tsconfigRootDir": "./"
    },
    "ignorePatterns": [
        "src/generate"
    ]
}